<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="one">
    <input type="text" ng-model="a">
    +
    <input type="text" ng-model="b">
    <button>相加</button>{{sum(a,b)}}
</div>
<div ng-controller="two">
    <input type="text" ng-model="e">
    +
    <input type="text" ng-model="f">
    <button>相加</button>{{sum(e,f)}}
</div>
<script src="./bower_components/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    //rootScope可以共享数据的 ，尽量少用rootScope
    //我们想自己写一个功能，为自己服务（共享方法）
    //创建服务
    app.provider('calc',function () {
        this.$get = function () { //当服务执行的时候会默认调用$get方法
            return {
                //将公有的方法配置到返回值中
                '+':function (a,b) {
                    return a+b;
                }
            }
        }
    });
    //应用服务时先将服务注入到控制器中
    app.controller('one',['$scope','calc',function ($scope,calc) {
        //calc是return的对象
        console.log(calc['+'](1,2));
    }]);
    app.controller('two',['$scope','calc',function ($scope,calc) {
        console.log(calc['+'](4,5));
    }])
</script>
</body>
</html>