<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--要循环谁 就要在谁身上写指令-->
<!--<div ng-controller="myCtrl">
    <ul>
        <li ng-repeat="value in arrs track by $index">
            {{value}}{{$index}}
            &lt;!&ndash;在数组中，遍历时最好增加track by $index 防止循环时无法通过不是唯一值遍历&ndash;&gt;
            &lt;!&ndash; {{$even}} {{$odd}} {{$first}}{{$last}}&ndash;&gt;
        </li>
    </ul>
</div>-->
<!--<div ng-controller="myCtrl">
    <ul>
        <li ng-repeat="(parentKey,phone) in phones track by $index">
            {{phone.name}}
            <ul>
                <li ng-repeat="(chikdKey,t) in phone.type track by $index">
                    {{t}}{{parentKey}}{{chikdKey}}
                </li>
            </ul>
        </li>
    </ul>
</div>-->

<div ng-controller="myCtrl">
    <ul>
        <!--保留下来，在当前作用域下保留父亲的
            ng-init就是在当前作用域下声明一个变量（基本不会使用），在控制器声明数据
        -->
        <li ng-repeat="phone in phones track by $index" ng-init="parent=$index">
            {{phone.name}}
            <ul>
                <li ng-repeat="t in phone.type track by $index">
                    {{t}}{{$index}} {{parent}}
                </li>
            </ul>
        </li>
    </ul>
</div>

<div ng-controller="myCtrl">
    <li ng-repeat="(key,o) in obj">
        {{o}}{{key}}
    </li>
</div>
<!--ng-repeat会创建作用域-->
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.arrs = ['苹果','苹果','小米'];
        $scope.phones = [{name:'苹果',type:['白色','金色','灰色']},{name:'小米',type:['白色','黑色']},{name:'华为',type:['白色']}];
        $scope.obj = {
            name:'zfpx',
            age:'8',
            address:'回龙观东大街'
        };
        // 无论是对象还是数组通过for in 取出来的永远是我们value值
    });
</script>
</body>
</html>