<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="myCtrl">
<hello name="name"></hello>
外面的<input type="text" ng-model="name">
</div>
<script src="../node_modules/angular/angular.js"></script>
<script>
    //指令和控制器间的交互，指令中需要使用控制中的数据
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',['$scope',function ($scope) {
        $scope.name = 123;
    }]);
    app.directive('hello',function () {
        return {
            template:'<div>里面的<input type="text" ng-model="name"></div>',
            scope:{ //已经完全断绝关系了，需要通过属性传递数据，将动态数据绑定需要=
//              scope.name = 123
                //name:'@name'//引用的是title属性的"字符串"，如果名字相同，可以省略
                name:'='//绑定的就是变量
            }
            //scope:{},//完全断绝关系
            //scope:true//保留一下   都会创建独立作用域
        }
    });
    //@ 绑定的是字符串  {{name}}  = 123 =>name=123 传入给指令，在指令中又声明了一个name把123给了这个name
    //1.你改变外面的 会影响到{{name}}  = 456 =>name=456传入给指令，值发生变化，
    //2.把里面的name改变了，里面和外面不是一个东西，所以无法改变外面的内容
</script>
</body>
</html>