<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="myCtrl">
    外面的<input type="text" ng-model="name">
    <hello name="{{name}}"></hello>
</div>
<script src="../node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',['$scope',function ($scope) {
        $scope.name = 123;
    }]);
    app.directive('hello',function () {
        return {
            template:'<div>里面的<input type="text" ng-model="name"></div>',
            scope:{
                name:'@name'  //scope.name = 456
            }
        }
    });
</script>
</body>
</html>