<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<style>
    .list-group-item span{
        width: 20%;
        display: inline-block;
    }
</style>
<body ng-controller="studentCtrl">
<ul class="list-group">
    <li class="list-group-item" ng-repeat="student in students">
        <span>{{student.name}}</span>
        <span><input type="text" ng-model="student.score"></span>
        <span>{{student.sex}}</span>
        <button class="btn btn-danger">删除</button>
    </li>
</ul>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script>
    //angular-resource
    //第二个参数为依赖的模块的名字 ngResource
    var app = angular.module('appModule',['ngResource']);
    app.factory('student',function ($resource) {
        // /student/:id   /student/1  /student
        return $resource('/student/:id',{id:'@id'},{
            update:{ //默认没有update方法，我们需要自己增加一个
                'method':'PUT'
            }
        });
        // get   query  remove  delete save update
        //get获取一个 {}
        //query 返回的是数组类型
    });
    app.controller('studentCtrl',function ($scope,student) {
        //是用angular中的get方法返回的是对象类型
        //使用query返回的是数组类型
        $scope.students = student.query();//get请求
        //获取数据后展示在页面上
    });
</script>
</body>
</html>